@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// --------------------
// base settings
// --------------------
body , html {
  position: relative;
  background: #f1f1f1;
}
*{
  font-family: 'Noto Sans Japanese', メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  box-sizing: border-box;line-height: 1em;color: #333;
  outline: none;
}
p{
  font-size: 1em;
  font-weight: inherit;
}
h1,h2,h3,h4,h5,p{
  line-height: 1.5em;
}
img{
  display: block;
  backface-visibility:hidden;
}
a{
  color: #aaa;
  text-decoration: none;
}
/*
a[target="_blank"] {
  &::after{
    font-family: FontAwesome;
    content: '\f08e';
    margin-left: 3px;
    vertical-align: middle;
    font-size: .6rem;
    text-decoration: none!important;
  }
}*/
img, a img {
    border: none;
}


// --------- var ---------
$color : #2c88c0;//ベースカラー
$linkcolor : #337ab7;//ベースカラー
@mixin TS {transition:all .2s;}
@mixin headerTS {transition:all .4s;}
@mixin clear {content:" ";display:block;clear:both;}
@mixin radius {border-radius: 3px;}
// --------- var ---------

// --------- layout ---------
@import "layout/ress";
@import "layout/header";
@import "layout/footer";
// --------- layout ---------

// --------- import ---------
@import "import/_sample01";
// --------- import ---------

.wrap{
  max-width: 960px;
  margin: 100px auto;
  padding: 0 10px;
}

header h1{
  font-size: 24px;
  text-align: center;
}

.contents{
  background: #fff;
  margin: 30px 0 0;
  padding: 30px;
  border-radius: 5px;
}

.description{
  margin-top: 60px;
  h2{
    font-size: 21px;
  }
  .link{
    a{
      color: #fff;
      padding: 20px 0;
      max-width: 320px;
      margin: 0 auto;
      display: block;
      margin-top: 30px;
      background: #25a1df;
      text-align: center;
      border-radius: 3px;
      font-size: 14px;
      @include TS;
      &:hover{
        background: #51b5e7;
      }
    }
  }
}

